body{
  margin: 0;
  text-align: center;
}
.top-container{
      margin: 0;
      background-color: #eaffd0;
}
.top-cloud{
  position: absolute;
}
.bottom-cloud{
  position: absolute;
}
